In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/PdM_errors.csv')
df.head()

              datetime  machineID errorID
0  2015-01-03 07:00:00          1  error1
1  2015-01-03 20:00:00          1  error3
2  2015-01-04 06:00:00          1  error5
3  2015-01-10 15:00:00          1  error4
4  2015-01-22 10:00:00          1  error4

In [3]:
df.machineID.value_counts()

machineID
22    60
78    54
99    54
49    51
81    51
      ..
19    28
86    27
31    26
6     23
77    22
Name: count, Length: 100, dtype: int64